html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
    /* list item */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 4em;
  margin: 10px;
  color: #ce3232;
  transition: color 0.2s;
}

.bm-item:hover {
    /* list item on hover */
  color: white;
}

.bm-burger-button {
    /* fix button space */
  position: fixed;
  width: 30px;
  height: 25px;
  left: 93%;
  top: 3%;
}

.bm-burger-bars {
    /* Change color of menu button in nav */
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 1.75em 1.75em 0;
  font-size: 1.15em;
}

.heal {
  position: relative;
  top: -10px;
  left: 5px;
}